* {
    margin: 0;
    padding: 0;
}

.cabecalho {
   
    text-align: center;
}

#titulo {
    
    font-family: Sans-serif;
    color:rgb(46, 208, 59)
}
#subtitulo {
    
    font-family: Sans-serif;
    color:rgb(9, 9, 9)

}
fieldset {
    border: 0;
   
}
body {
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    font-size: 1em;
    display: flex;
    margin-right: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}
input, select, textarea, button {
    border-radius: 5%;
}
.campo {
    margin-bottom: 1em;
    color: rgb(46, 208, 59);
}
.campo label {
    display: block;
    margin-bottom: 0.2em;
    color: rgb(46, 208, 59);
}
fieldset.grupo {
    display: flex;
    gap: 5px;
}
fieldset.grupo .campo {
    flex: 1;
}
.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea {
    
    padding: 0.2em;
    border: 1px rgb(46, 208, 59) solid;
    box-shadow: 2px 2px 5px rgb(46, 208, 59);
    display: block;
}
.campo select option {
    padding: 1em;
}

main.container {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    background-color:rgba(46, 208, 59, 0.15) /* 15% de transparência */
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgb(46, 208, 59);
    margin-top: 20px;
}
.campo input:focus, .campo select:focus, .campo textarea:focus {
    outline: none;
    border-color: rgb(46, 208, 59);
    box-shadow: 0 0 5px rgb(46, 208, 59);
}
.botao {
    background-color: rgb(46, 208, 59);
    color: white;

    cursor: pointer;
    border-radius: 5px;
    
    box-shadow: 2px 2px 5px rgb(10, 10, 10);
    font-size: 1.2em;
    margin-bottom: 0.8em;
    border: 0;
    padding: 0.2em 0.6em;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.botao:hover {
    background-color: rgb(35, 62, 32);
    box-shadow: 5px 5px 15px rgb(46, 208, 59);
}
.campo2 {
    margin-bottom: 1em;
    color: rgb(46, 208, 59);
}